<section data-ng-controller="Trading as vm">    
    <div style="width: 100%;">
    <div class="inner">
        <div ng-show="vm.isExecuting" class="tradingTile">
            <span class="execute"">
            Executing...
            </span>
         </div>
        <div ng-hide="vm.isExecuting" class="tradingTile">
            <table style="height: 100%; width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 40%" class="symbol">{{vm.symbols}}</td>
                        <td style="width: 60%">
                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table style="text-align: center; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td ng-class="{hover: sellintent}" ng-mouseenter="sellintent=true" ng-mouseleave="sellintent=false" ng-click="vm.executeTrade('Sell')" style="width: 40%;">
                                            <div>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="lowlight" style="font-size: 16px">SELL</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%;">
                                                                <span class="lowlight" style="font-size: 18px;">{{vm.sellPips.bigFig}}</span>
                                                                <span class="highlight pips">{{vm.sellPips.pips}}</span>
                                                                <span class="lowlight" style="font-size: 18px">{{vm.sellPips.fractionalPips}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td style="width: 20%;">
                                            <table style="height: 100%">
                                                <tbody>
                                                    <tr style="height: 30%">
                                                        <td>
                                                            <div ng-show="vm.movement == 'up'" class="upArrow">up</div>
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 40%">
                                                        <td><span class="highlight" style="font-size: 16px; margin: 3px">{{vm.spread}}</span></td>
                                                    </tr>
                                                    <tr style="height: 30%">
                                                        <td>
                                                            <div ng-show="vm.movement == 'down'" class="downArrow">down</div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td ng-class="{hover: buyintent}"  ng-mouseenter="buyintent=true" ng-mouseleave="buyintent=false" ng-click="vm.executeTrade('Buy')" style="width: 40%;">
                                            <div>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="lowlight" style="font-size: 16px">BUY</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%;">
                                                                <span class="lowlight" style="font-size: 18px;">{{vm.buyPips.bigFig}}</span>
                                                                <span class="highlight pips">{{vm.buyPips.pips}}</span>
                                                                <span class="lowlight" style="font-size: 18px">{{vm.buyPips.fractionalPips}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="quantity" class="quantity" style="font-size: 16px; text-align: right">{{vm.quantity}}</div>            
        </div>
    </div>
    </div>
</section>